<div class="container">
<br>
  <div class="row">
  <div class="col-8">
    <table class="table table-sm">
      <caption style="color:black">
        La banda mas antigua es {{viejaName}} y fue fundada hace {{tiempo}} años.
      </caption>
      <thead>
        <tr>
          <th style="text-align: center;">#</th>
          <th style="text-align: center;">Nombre</th>
          <th style="text-align: center;">Pais</th>
          <th style="text-align: center;">Genero</th>
          <th style="text-align: center;">Fundacion</th>
        </tr>
      </thead>
      <tbody class="bg-light" *ngFor="let banda of bandas">
        <tr (click)="onSelected(banda)">
          <td style="text-align: center;">{{banda.id}}</td>
          <td style="color:dodgerblue; text-align: center;">{{banda.name}}</td>
          <td style="text-align: center;">{{banda.country}}</td>
          <td style="text-align: center;">{{banda.genre}}</td>
          <td style="text-align: center;">{{banda.foundation_year}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" *ngIf="selected">
    <app-banda-detail [bandaDetail] = "selectedBanda"></app-banda-detail>
  </div>
</div>
</div>
